<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
		
	<ShowcaseReview>
		<BaseUrl>/myshowcase/review.htm?</BaseUrl>
	</ShowcaseReview>
	
	<Flickr>
		<Key>9a3a6765af1c14f7d512d96fd3b62135</Key>
		<Secret>e193a29315ee3f8f</Secret>
	</Flickr>

	<FileUpload>
		<HomeDir>ownerId</HomeDir>
	</FileUpload>
		
</Configuration>
